token.txt
frijolito.py
__pycache__/frijolito.cpython-311.pyc
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_STORE
.env
tts.mp3
.vscode
*.code-workspace